{% extends 'base_template.html.twig' %}



{% block titre %}
<title>Etablissements labellisés Handi-tourisme</title>
{% endblock %}



{% block css %}
<link rel="stylesheet" href="public/css/accueil.css">
{% endblock %}




{% block main %}

{% endblock %}




{% block scripts %}
<!-- <script src="public/js/accueil.js"></script> -->
{% endblock %}
