{% extends 'base_template.html.twig' %}



{% block css %}

{% endblock %}



{% block main %}

<section>
    <div id="regions2017"></div>
</section>

{% endblock %}






{% block scripts %}

{% endblock %}