// Regles général

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  padding: 80px 0;
  text-align: right;
  // font-size: 2.5rem; <- Taille d'origine précisé à titre indicatif
}

h2 {
  font-size: 1.5rem;
}

h3 {
  padding: 80px 0;
}

// Section header
header {
  // Navbar du menu princpale

  .navbar {
    background-color: #013b8d;
    z-index: 1010;
    position: fixed;
    padding: 25px 11%;
    border-bottom: 2px solid #013b8d;
    .navbar-brand {
      color: white;
    }
    .menuHeader {
      justify-content: flex-end;
      .nav-link {
        color: white;
      }
    }
  }

  // Menu du choix de version de site (de façon à ce qui s'adapte au maximum de personne)
  .choiceVersion {
    padding: 100px 11% 0 11%;
    ul {
      display: flex;
    }
  }
}

// Section avec la map
section {
  padding-bottom: 80px;
  background-color: white;
  .cardSearch {
    height: 600px;
    border: 1px #013b8d solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    button {
      background-color: #013b8d;
      color: white;
      padding: 10px 0;
      border: none;
      width: 50%;
      border-radius: 5px;
      font-size: 1rem;
    }
  }
  .mapApi {
    height: 600px;
  }
}

// Section formulaire de contact des Etablissement
.contactNone {
  background-color: #013b8d;
  display: none;

  h3 {
    color: white;
  }
  form {
    display: flex;
    justify-content: space-around;
    .inputForm {
      display: flex;
      flex-direction: column;
      input {
        padding: 10px 20px;
        margin: 15px 0;
        border-radius: 5px;
        border-color: rgb(220, 220, 220);
        background-color: #013b8d;
      }
      input::placeholder {
        color: white;
        font-size: 1.3rem;
      }
    }
    .textareaForm {
      display: flex;
      flex-direction: column;
      textarea {
        padding: 10px 20px;
        margin: 15px 0;
        border-radius: 5px;
        border-color: rgb(220, 220, 220);
        background-color: #013b8d;
      }
      textarea::placeholder {
        color: white;
        font-size: 1.3rem;
      }
    }
    button {
      background-color: white;
      color: #013b8d;
      border: none;
      padding: 10px 0;
      width: 50%;
      border-radius: 5px;
      font-size: 1.5rem;
    }
  }
}

footer {
    color: white;
  padding: 80px 0;
  background-color: rgb(50, 50, 50);
  .infoFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .socialNetwork {
    display: flex;
    .nom {
      p {
        margin-bottom: 0;
        padding: 15px;
        margin: 10px;
      }
    }
    .github {
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        padding: 10px 12px;
        border: 1px white solid;
        border-radius: 50%;
      }
      a:hover{
          border-color: gold;
          background-color: #013b8d;
          color: white;
      }
    }
    .linkedin {
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        padding: 10px 12px;
        border: 1px white solid;
        border-radius: 50%;
      }
      a:hover{
        border-color: gold;
        background-color: white;
        color: #013b8d;
    }
    }
  }
}
