<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/accueil.css">
    <title>Document</title>
</head>
<body>
    
    <!-- <h1>Handi-Tourisme</h1> -->
    <div id="btns">
    <button class="gaucher">Gaucher</button>
    <button class="droiter">Droitier</button>
    <button class="mal-voyant">mal-voyant</button>
    </div>
  
<script src="../public/js/accueil.js"></script>
</body>
</html>